.folder-list-container{
    margin-top: 0;
    padding: 0;
    list-style: none;
}



.icon{
font-size: 1.2rem;
align-self: center;
cursor: pointer;

}

.folder-list-item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-size: 0.8rem;
}

.compose-btn{
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    background-color: #c2e7ff;
    border: none;
    padding: 0.6rem 0.8rem 0.6rem 0.6rem;
    gap: 5px;
    border-radius: 0.8rem;
    cursor: pointer;
    
}

.compose-btn:hover{
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
}

.side-bar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}