.mail-preview {
    display: grid;
    grid-template-columns: 100px 1fr 150px;
    padding: 0.6rem;
    /* font-weight: 700; */
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    background-color: rgb(255, 255, 255);
}

.mail-preview:hover{
    padding: 0.6rem;
    padding-bottom: 0.3rem;
}

.mail-subject.read,
.mail-sender.read,
.mail-date.read{
    font-weight: 700;

}

.mail-date{
    text-align: end;
}

.mail-preview:hover .mail-date{
    display: none;
}

.mail-actions{
    text-align: end;
    display: none;
}

.mail-preview:hover .mail-actions{
    display: block;
}





.mail-preview.read {
    background-color: #f2f6fc;
    font-weight: 400;
}

.mail-preview:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}




.mail-preview-body {
    color: rgb(130, 130, 130);
    font-weight: 400;

}

.mail-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}