/* note list */

.note-list {
  padding: 15px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 250px));
  grid-auto-columns: auto;
  gap: 8px;
}

.note-list li {
  border-radius: 10px;
  padding: 10px 15px;
  height: auto;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  background-color: pink;
}

.txt-preview,
.img-preview,
.video-preview {
  text-align: center;
}

.note-list li img {
  max-height: 70%;
}

.note-list li video {
  padding: 5px;
}

.todos-preview {
  font-size: 15px;
display: flex;
}

.checkbox-label {
  align-items: left; }

input[type="checkbox"] {
  margin-right: 10px; 
}


