/* note list */

.note-list {
  padding: 15px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 8px;
  text-align: center;
}

.note-list li {
  list-style-type: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: pink;
  padding-block: 0.2em;
}

.note-list li img{
 max-height: 70%;
}

.note-list li video{
padding: 5px;
}

.todos-preview div{
  
   font-size: 15px; 
  
}
