
.mail-container{
    display: grid;
    grid-template-columns: 200px 1fr;
    /* background-color: #f2f6fc; */
}

.mail-index-container{
    /* display: grid;
    grid-template-columns: 200px 1fr; */
    background-color: #f2f7fd;
    min-height: 90%;
    font-family: roboto;
}